div.middle {
    margin: 150px;
    height: 300px;
    border: 20px solid tomato;
    border-radius: 20px;
    background-image: url('../../Release/assets/background.jpg');
    background-size: cover;
}
